In [2]:
import pandas as pd
import numpy as np

### 导入数据

In [3]:
data = pd.read_csv('data1.csv',encoding='utf-8')
data.head(10)

,platform_open_id,goods_num,price,is_member,discount_fee,outer_id,take_at,status,payment,member_id,order_payment,total_fee,goods_id
0,101ZX1xyfG/omvnxQPYI8YPFhoi2hfl26RoAPgzb9VqwG0=,1,3650.0,0,300.0,302945-01,2020-01-01 01:35:43,6,3350.0,0,3350.0,3350.0,520399672992
1,爱012Pr5yntLUcTKU0MtsjPGOs2DEMds1FAQI7fgfrP3PMg=,1,2690.0,0,600.0,227605-01,2020-01-01 08:55:17,6,2090.0,0,2090.0,2090.0,548452717637
2,朱01i4Rmip4x6V5VS/UZPBzc+Nnn6lnZ7cacExIx+8aylCY=,1,3990.0,1,400.0,226403-01,2020-01-01 09:48:35,6,3590.0,616297,3590.0,3590.0,564779472639
3,001bRbDk61o6cYW1XuaH8XgLgKHM0CMIQafAKaTQc17qGM=,1,3290.0,0,0.0,NaN,2020-01-01 09:56:04,6,3290.0,0,3290.0,3290.0,609664493135
4,t014Au7WHWPPI0OeT5DX13SQ5q8qGekDqre2uZnHtcQpY8=,1,3590.0,1,500.0,282846-01,2020-01-01 10:36:50,6,3090.0,220404,3090.0,3090.0,589083659427
5,莲01LF6zIyY7EH3xuSvbfZo7ltnn6lnZ7cacExIx+8aylCY=,1,3990.0,0,400.0,226403-01,2020-01-01 10:42:48,501,3590.0,0,3590.0,3590.0,564779472639
6,粉01UbFDeKuioQohILQR+wOsNm7XJ0Oc9YsnYNWwOnr6RWo=,1,2990.0,0,0.0,337173-01,2020-01-01 11:57:13,6,2990.0,0,2990.0,2990.0,609198131898
7,t01IVpMxupm69b7U2+nsTMgJJq8qGekDqre2uZnHtcQpY8=,1,3990.0,0,0.0,332873-01,2020-01-01 12:38:02,501,3990.0,0,3990.0,3990.0,608739665918
8,j01p2WEcqpLB97pTrpXeOF3YGdHwSigfMMQPj0dkBAC8Vk=,1,12298.0,0,0.0,NaN,2020-01-01 13:21:40,101,12298.0,0,12298.0,12298.0,43696478043
9,橘01NRMB2FbMyTAioDgFAKlTAq3Y2wWCx2gxb9BRyrBfqBc=,1,2690.0,1,600.0,227605-01,2020-01-01 14:02:07,6,2090.0,220661,2090.0,2090.0,548452717637

### 简单分析

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2076756 entries, 0 to 2076755
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   platform_open_id  object
 1   goods_num         int64
 2   price             float64
 3   is_member         int64
 4   discount_fee      float64
 5   outer_id          object
 6   take_at           object
 7   status            int64
 8   payment           float64
 9   member_id         int64
 10  order_payment     float64
 11  total_fee         float64
 12  goods_id          int64
dtypes: float64(5), int64(5), object(3)
memory usage: 206.0+ MB

In [5]:
data.describe()

,goods_num,price,is_member,discount_fee,status,payment,member_id,order_payment,total_fee,goods_id
count,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06
mean,1.022414e+00,2.877742e+03,2.511152e-01,4.077908e+02,1.062725e+02,2.381522e+03,1.621424e+05,2.603311e+03,2.547768e+03,5.757775e+11
std,5.951059e+00,1.667641e+04,4.336548e-01,1.513768e+04,1.868467e+02,3.893904e+04,3.407376e+05,1.151160e+04,3.893686e+04,5.568156e+10
min,1.000000e+00,1.000000e-02,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.061134e+10
25%,1.000000e+00,1.890000e+03,0.000000e+00,0.000000e+00,6.000000e+00,4.500000e+02,0.000000e+00,1.890000e+03,1.890000e+03,5.484527e+11
50%,1.000000e+00,2.990000e+03,0.000000e+00,0.000000e+00,6.000000e+00,2.750000e+03,0.000000e+00,2.790000e+03,2.790000e+03,5.866680e+11
75%,1.000000e+00,3.490000e+03,1.000000e+00,3.000000e+02,1.010000e+02,2.990000e+03,1.609475e+04,3.090000e+03,3.090000e+03,6.087397e+11
max,8.028000e+03,9.999999e+06,1.000000e+00,9.999990e+05,5.010000e+02,5.000000e+07,1.261694e+06,1.000000e+07,5.000000e+07,6.497216e+11

In [6]:
data['payment'].mean()

2381.5220486739904

In [7]:
data['price'].mean()

2877.742445105782

### 选取行和列

In [8]:
data.head(5)

,platform_open_id,goods_num,price,is_member,discount_fee,outer_id,take_at,status,payment,member_id,order_payment,total_fee,goods_id
0,101ZX1xyfG/omvnxQPYI8YPFhoi2hfl26RoAPgzb9VqwG0=,1,3650.0,0,300.0,302945-01,2020-01-01 01:35:43,6,3350.0,0,3350.0,3350.0,520399672992
1,爱012Pr5yntLUcTKU0MtsjPGOs2DEMds1FAQI7fgfrP3PMg=,1,2690.0,0,600.0,227605-01,2020-01-01 08:55:17,6,2090.0,0,2090.0,2090.0,548452717637
2,朱01i4Rmip4x6V5VS/UZPBzc+Nnn6lnZ7cacExIx+8aylCY=,1,3990.0,1,400.0,226403-01,2020-01-01 09:48:35,6,3590.0,616297,3590.0,3590.0,564779472639
3,001bRbDk61o6cYW1XuaH8XgLgKHM0CMIQafAKaTQc17qGM=,1,3290.0,0,0.0,NaN,2020-01-01 09:56:04,6,3290.0,0,3290.0,3290.0,609664493135
4,t014Au7WHWPPI0OeT5DX13SQ5q8qGekDqre2uZnHtcQpY8=,1,3590.0,1,500.0,282846-01,2020-01-01 10:36:50,6,3090.0,220404,3090.0,3090.0,589083659427

In [9]:
data[['take_at','status']]

                     take_at  status
0        2020-01-01 01:35:43       6
1        2020-01-01 08:55:17       6
2        2020-01-01 09:48:35       6
3        2020-01-01 09:56:04       6
4        2020-01-01 10:36:50       6
...                      ...     ...
2076751  2021-06-29 20:44:34       4
2076752  2021-06-29 22:20:33     501
2076753  2021-06-30 14:12:08     501
2076754  2021-06-30 19:57:36       6
2076755  2021-06-30 22:25:49       4

[2076756 rows x 2 columns]

In [13]:
# 看订单状态
status = data.groupby('status')['status'].count()
status

status
1         4039
3         2680
4        28352
6      1413743
101     256262
501     371680
Name: status, dtype: int64

In [26]:
# 看会员情况
is_member = data.groupby('is_member')['is_member'].count()
is_member

is_member
0    1555251
1     521505
Name: is_member, dtype: int64

### 年月和日分析

In [12]:
date = data['take_at'].str.split(' ').str[0]
data['year-month-day']=date
data['year-month'] = date.str.split('-').str[0]+date.str.split('-').str[1]

In [13]:
data_last = data[['status','payment','year-month-day','year-month']]
data_last=data_last[data_last['status']==6]
data_last.head()

   status  payment year-month-day year-month
0       6   3350.0     2020-01-01     202001
1       6   2090.0     2020-01-01     202001
2       6   3590.0     2020-01-01     202001
3       6   3290.0     2020-01-01     202001
4       6   3090.0     2020-01-01     202001

In [17]:
# 看日期情况
date_= data_last.groupby('year-month-day')['year-month-day'].count()
print(len(date_))
date_

547

In [16]:
data_day = data_last.groupby('year-month-day')
list(data_day)[0][1]

         status  payment year-month-day year-month
0             6   3350.0     2020-01-01     202001
1             6   2090.0     2020-01-01     202001
2             6   3590.0     2020-01-01     202001
3             6   3290.0     2020-01-01     202001
4             6   3090.0     2020-01-01     202001
...         ...      ...            ...        ...
2066624       6    800.0     2020-01-01     202001
2066625       6   3590.0     2020-01-01     202001
2066626       6   3090.0     2020-01-01     202001
2066627       6   3590.0     2020-01-01     202001
2066628       6   4290.0     2020-01-01     202001

[2583 rows x 4 columns]

In [17]:
data_day = data_last.groupby('year-month-day')
# 每一天的GMV数据(status=6)
gmv_day= []
for i in range(len(list(data_day))):
    gmv_1=list(data_day)[i][1]['payment'].sum()
    gmv_day.append(gmv_1)
gmv_day

[8117806.0,
 2465348.0,
 2298608.0,
 2071824.0,
 1269618.0,
 25925036.0,
 8077788.0,
 7446776.0,
 8343364.0,
 7927048.0,
 3116266.0,
 3223466.0,
 3253080.0,
 2525816.0,
 13044796.0,
 5895848.0,
 4473678.0,
 3856678.0,
 3862996.0,
 3048520.0,
 2756670.0,
 2351418.0,
 2681438.0,
 2677160.0,
 3060880.0,
 3401030.0,
 4584176.0,
 4317098.0,
 5169278.0,
 6052270.0,
 2134600.0,
 2531606.0,
 2254110.0,
 1930700.0,
 1951782.0,
 1674616.0,
 2351170.0,
 1302224.0,
 11797250.0,
 6550372.0,
 7453448.0,
 5799996.0,
 7708266.0,
 7175370.0,
 9701312.0,
 2738680.0,
 3050736.0,
 6949658.0,
 10934650.0,
 6796726.0,
 6812140.0,
 6717760.0,
 6012430.0,
 3049128.0,
 2939154.0,
 2201574.02,
 1776858.0,
 1644456.01,
 9282638.01,
 5007416.199999999,
 5449684.0,
 1778064.0,
 1389410.0,
 763664.0,
 26300587.049999997,
 12358904.04,
 10764140.02,
 14764669.200000001,
 4618097.07,
 1319156.1300000001,
 1263800.1400000001,
 1196945.24,
 6528064.68,
 3746306.58,
 4819894.8100000005,
 1845006.2399999998,
 1782552.16,
 1874996.83,
 1767447.23,
 1584128.81,
 1708303.25,
 6599508.459999999,
 3443131.5,
 3849941.75,
 1891289.42,
 1810071.8599999999,
 1689313.83,
 1856231.13,
 1709029.43,
 1563323.38,
 1527875.6600000001,
 5018962.800000001,
 2527677.7,
 2229738.24,
 3287159.1399999997,
 2738461.5700000003,
 2778809.0,
 2243157.0300000003,
 2340836.88,
 2348331.29,
 2169780.3000000003,
 2039249.7200000002,
 1905856.61,
 2402893.6500000004,
 1714474.48,
 1062175.61,
 10083977.48,
 4779676.859999999,
 5130990.24,
 4295976.82,
 4696090.58,
 1980217.35,
 1710966.65,
 1895526.2300000002,
 2640776.55,
 2596323.72,
 2324159.27,
 2067487.11,
 9124974.459999999,
 4810823.56,
 5274835.540000001,
 6520198.65,
 6253649.4399999995,
 6696776.619999999,
 6928516.02,
 10482614.36,
 2392826.91,
 2491136.56,
 1451823.93,
 10439484.219999999,
 6027481.779999999,
 5583825.67,
 1965206.38,
 2086354.65,
 2124975.36,
 3538471.86,
 1980196.14,
 1260716.77,
 10617622.620000001,
 5166058.9,
 5043828.02,
 2873156.7700000005,
 1567037.51,
 1732505.94,
 1573759.3000000003,
 11836020.6,
 5293486.5,
 4430092.39,
 4733227.5600000005,
 4430102.67,
 5684144.59,
 8220163.87,
 59743666.470000006,
 21988054.279999997,
 15736600.139999997,
 3566186.4899999993,
 3473198.23,
 3992414.58,
 4105430.5300000003,
 3775465.66,
 2852640.8499999996,
 32068244.95,
 10820592.03,
 1598980.8599999999,
 686502.3200000002,
 627632.0100000001,
 410715.5400000001,
 54830489.5,
 17226249.46,
 48016870.3,
 3100892.55,
 2431134.63,
 1163636.45,
 1190422.48,
 992361.28,
 5169522.530000001,
 3212515.6599999997,
 2884384.46,
 3221944.53,
 2658675.37,
 2484588.4300000006,
 3082885.38,
 1563369.31,
 1601834.3599999999,
 1799395.25,
 1727759.27,
 1502485.41,
 1613329.47,
 1340050.52,
 2823276.43,
 1469259.5,
 4731228.6,
 2950875.3400000003,
 3732650.7299999995,
 1438181.2999999998,
 1271610.4,
 1206976.3699999999,
 4586701.59,
 2817913.57,
 1599868.5,
 1981643.52,
 1842147.49,
 1680803.4000000001,
 1355650.42,
 1311244.47,
 969943.4400000001,
 4652371.57,
 2762058.53,
 2758219.87,
 2491690.6,
 2464404.6199999996,
 1644504.52,
 2038520.44,
 2403605.5999999996,
 2256726.48,
 1569487.56,
 1383225.55,
 1184157.52,
 6618909.110000001,
 3101636.82,
 4076238.29,
 1703456.6099999999,
 2759037.1900000004,
 2486484.08,
 1858563.2999999998,
 1867015.08,
 977172.0,
 4917527.48,
 3127895.0,
 3569555.0,
 4324381.0,
 2140814.3000000003,
 2090469.6199999999,
 7293522.15,
 6227586.84,
 5889107.450000001,
 4779190.7,
 5064601.510000001,
 2028299.0,
 1785806.4,
 1686127.45,
 2028922.3800000004,
 1866428.4,
 2049694.4200000004,
 2269870.49,
 2275092.47,
 2117311.35,
 1571621.3599999999,
 1587240.49,
 1509504.2800000003,
 1446822.5899999999,
 966326.8,
 11918771.450000001,
 5761883.65,
 4036952.6400000006,
 2267616.46,
 2975715.6000000006,
 1622513.46,
 2084713.51,
 2223799.43,
 1636849.41,
 1223461.3499999999,
 1601125.4,
 1640261.4500000002,
 1341862.69,
 7444613.760000001,
 1382171.46,
 1263542.15,
 1384165.54,
 4716978.22,
 3034524.34,
 2834044.15,
 2172542.1999999997,
 2202511.6799999997,
 2848925.09,
 2686600.73,
 2425452.45,
 2810690.96,
 2636327.31,
 2718796.02,
 2875126.6399999997,
 1822905.49,
 1548352.6700000004,
 1420733.94,
 1306532.9800000002,
 2865242.7200000007,
 1519996.3600000003,
 1453548.8100000003,
 1053599.0000000002,
 1096674.2200000002,
 1028337.4800000002,
 1009010.3200000003,
 1116893.2100000002,
 997240.7500000005,
 126957620.24999999,
 18550776.83,
 14131969.299999999,
 14748876.169999998,
 15495275.11,
 14687288.529999997,
 14040072.919999998,
 14161010.03,
 15856923.469999999,
 16882251.66,
 33095032.049999997,
 107997247.63,
 22378889.53,
 25406984.909999996,
 9868867.62,
 8908644.090000002,
 8499894.96,
 10220211.899999999,
 12998430.62,
 17256227.35,
 40148025.01,
 151264721.75,
 1487158.94,
 1218768.45,
 1341188.43,
 1314462.3599999999,
 1365314.31,
 1267710.61,
 1182986.49,
 1146746.46,
 1529554.25,
 1351268.3599999999,
 1413494.42,
 2173054.51,
 1411824.51,
 1280613.54,
 552730.52,
 15664649.77,
 5302447.03,
 6248867.37,
 1210082.65,
 2829723.45,
 1770510.39,
 1633120.59,
 1446420.55,
 1351710.71,
 1403941.0,
 1433688.9500000002,
 1463018.92,
 1366097.17,
 36526533.10000001,
 18462216.290000003,
 29598988.659999996,
 2036440.62,
 1997900.1800000002,
 2039760.37,
 1850198.38,
 1568364.48,
 1100138.51,
 9811518.98,
 5663780.7700000005,
 5648748.85,
 5322690.93,
 5173758.8100000005,
 5094509.1,
 3355998.29,
 811130.22,
 826128.1699999999,
 847038.1699999999,
 1299770.4100000001,
 1524432.52,
 6699798.73,
 5540628.86,
 3740098.71,
 4455760.7,
 1523788.3900000001,
 1758128.51,
 2106246.48,
 3379408.5300000003,
 3195270.49,
 2149186.58,
 2294998.88,
 2425500.9299999997,
 11667585.330000002,
 6432586.66,
 2172458.4800000004,
 2657916.5300000003,
 2659440.62,
 2446631.04,
 2311058.9299999997,
 1289411.5700000003,
 23560655.97,
 6333857.15,
 10245989.07,
 6482166.11,
 7287239.29,
 9195171.09,
 2075620.58,
 1971020.53,
 1684800.56,
 10359510.71,
 6399058.0,
 5918340.600000001,
 7325291.16,
 1942240.57,
 1929780.55,
 1596310.8499999999,
 13048481.18,
 6145050.7700000005,
 6410487.220000001,
 4872610.67,
 4515978.51,
 4642828.48,
 3266120.5300000003,
 3713490.66,
 3919558.6,
 4907788.76,
 4027840.5300000003,
 4548650.530000001,
 6257336.74,
 2552428.7299999995,
 2398178.61,
 2338820.48,
 1420128.58,
 1298688.48,
 1159810.71,
 10087101.25,
 4713550.59,
 4259402.21,
 3683622.31,
 3100082.2,
 2987883.02,
 3089886.5999999996,
 3226158.0599999996,
 3105514.23,
 37162125.77,
 41459657.089999996,
 15173065.86,
 7843475.4,
 270460.16000000003,
 251358.23,
 2034940.29,
 1907470.6600000001,
 2980240.67,
 2910100.78,
 4220598.720000001,
 1279060.51,
 1260650.41,
 1568890.42,
 1603716.4300000002,
 1645490.3900000001,
 1732028.53,
 1133560.6099999999,
 1075698.48,
 889588.78,
 8257152.5,
 3114482.6799999997,
 3884093.8099999996,
 1926420.5299999998,
 1715532.38,
 2885451.82,
 2558455.5199999996,
 2285939.27,
 2198383.0199999996,
 2126633.46,
 2048483.12,
 18459785.919999998,
 2790834.1799999997,
 2703744.49,
 3465357.2,
 46513563.03,
 1781940.8399999999,
 1275328.43,
 1280510.39,
 1267620.42,
 5701018.86,
 2757570.56,
 2875318.6,
 3166210.6500000004,
 1665760.44,
 1674998.42,
 1553670.56,
 1794010.4900000002,
 1648418.37,
 5322122.68,
 3204682.63,
 3393200.85,
 1640872.1400000001,
 1793272.42,
 1544722.6800000002,
 3613812.4,
 2113345.9,
 4251181.36,
 3154010.23,
 3372002.7,
 3395012.62,
 4564093.01,
 2109991.5500000003,
 2178531.7199999997,
 1972451.69,
 6519573.41,
 2487631.8,
 2325780.76,
 1783545.23,
 1641624.98,
 2001588.02,
 4786107.9799999995,
 3094012.0,
 3470351.1300000004,
 4734981.37,
 3337271.67,
 3346768.6599999997,
 1351615.83,
 1254083.4400000002,
 1345337.7700000003,
 25373308.22,
 27936448.389999997,
 9424641.879999999,
 5981614.369999999,
 5288502.02,
 6138380.34,
 7668010.17,
 11172772.619999997,
 48796695.25999999,
 14828707.25,
 16317226.709999999,
 3415643.0300000003,
 3758605.0,
 4378278.23,
 4703255.99,
 5563017.950000001,
 5759366.93,
 20163459.29,
 6917382.499999999,
 7241767.359999999,
 4177145.84,
 4684509.41,
 5777194.62,
 28553831.65,
 11041257.67,
 26446884.75,
 10720896.69,
 18670940.97,
 1017790.04,
 1129442.67,
 1183986.6400000001,
 1215156.98,
 1516221.01,
 996316.48,
 513678.29,
 469200.30000000005,
 440030.21,
 270320.3]

In [18]:
# 由于一共547天,不是7的整数倍，所以取到前546天的数据作为周的数据来源
gmv_week=[]
m,n=0,0
for i in range(len(gmv_day)):
    m+=gmv_day[i]
    n+=1
    if n%7==0:
        gmv_week.append(m)
        n=0
        m=0
len(gmv_week)

78

In [19]:
data_month = data_last.groupby('year-month')
# 每一月的GMV数据(status=6)
gmv_month= []
for i in range(len(list(data_month))):
    gmv_2=list(data_month)[i][1]['payment'].sum()
    gmv_month.append(gmv_2)
gmv_month

[159430378.0,
 146096226.24,
 133563537.89999998,
 100220366.43999998,
 151425462.56,
 317112897.95000005,
 67729968.81,
 95115644.29,
 80514409.83,
 335848083.47,
 463411068.3500001,
 161958076.27,
 155719535.88,
 120081660.46,
 165153209.33999997,
 133661132.42,
 167461226.94,
 260668210.01999998]

##创建次日比本日高的数据（创建次周比本周高的数据，创建次月比本月高的数据）

In [23]:
# 创建次日比本日高的数据
up_day=[]
for i in range(len(gmv_day)):
    if i>=len(gmv_day)-1:
        continue
    else:
        up_day.append(gmv_day[i+1]-gmv_day[i])

# 创建次周比本周高的数据
up_week=[]
for i in range(len(gmv_week)):
    if i>=len(gmv_week)-1:
        continue
    else:
        up_week.append(gmv_week[i+1]-gmv_week[i])
        
# 创建次月比本月高的数据
up_month=[]
for i in range(len(gmv_month)):
    if i>=len(gmv_month)-1:
        continue
    else:
        up_month.append(gmv_month[i+1]-gmv_month[i])     
print(f"-----up_day数据长度：{len(up_day)}-----up_week数据长度：{len(up_week)}----up_month数据长度：{len(up_month)}")

-----up_day数据长度：546-----up_week数据长度：77----up_month数据长度：17

In [21]:
from pyecharts.charts import Line
from pyecharts import options as opts
# 画图
def line_charts(data,x_name,y_name,title) -> Line:
    line = (
        Line()
        .add_xaxis(list(range(len(data))))
        .add_yaxis(
            "GMV值",
            data,
        .set_global_opts(title_opts=opts.TitleOpts(title=title)
                         ,yaxis_opts=opts.AxisOpts(name=y_name)
                         ,xaxis_opts=opts.AxisOpts(name=x_name),)
        .set_series_opts(
            label_opts=opts.LabelOpts(is_show=False), # 是否显示标签
        )
    )
    return line
# 天的gmv
line_day = line_charts(gmv_day,x_name='day',y_name='gmv_num',title='gmv_day_analyse')
line_day.render("gmv_day分析.html")
# 周的GMV
line_week = line_charts(gmv_week,x_name='week',y_name='gmv_num',title='gmv_week_analyse')
line_week.render("gmv_week分析.html")
# 月的GMV
line_month = line_charts(gmv_month,x_name='month',y_name='gmv_num',title='gmv_month_analyse')
line_month.render("gmv_month分析.html")

'E:\\py_\\out_work\\work\\gmv_month分析.html'

In [25]:
# 次日比本日高的数据（创建次周比本周高的数据，创建次月比本月高的数据）:画图
# up_day的gmv
line_day_up = line_charts(up_day,x_name='day',y_name='gmv_num',title='day_up_gmv_analyse')
line_day_up.render("day_up_gmv分析.html")
# up_week的GMV
line_week_up = line_charts(up_week,x_name='week',y_name='gmv_num',title='week_up_gmv_analyse')
line_week_up.render("week_up_gmv分析.html")
# up_month的GMV
line_month_up = line_charts(up_month,x_name='month',y_name='gmv_num',title='month_up_gmv_analyse')
line_month_up.render("month_up_gmv分析.html")

'E:\\py_\\out_work\\work\\month_up_gmv分析.html'