In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

### 导入数据

In [2]:
data = pd.read_csv('data1.csv',encoding='utf-8')
data.head(10)

,platform_open_id,goods_num,price,is_member,discount_fee,outer_id,take_at,status,payment,member_id,order_payment,total_fee,goods_id
0,101ZX1xyfG/omvnxQPYI8YPFhoi2hfl26RoAPgzb9VqwG0=,1,3650.0,0,300.0,302945-01,2020-01-01 01:35:43,6,3350.0,0,3350.0,3350.0,520399672992
1,爱012Pr5yntLUcTKU0MtsjPGOs2DEMds1FAQI7fgfrP3PMg=,1,2690.0,0,600.0,227605-01,2020-01-01 08:55:17,6,2090.0,0,2090.0,2090.0,548452717637
2,朱01i4Rmip4x6V5VS/UZPBzc+Nnn6lnZ7cacExIx+8aylCY=,1,3990.0,1,400.0,226403-01,2020-01-01 09:48:35,6,3590.0,616297,3590.0,3590.0,564779472639
3,001bRbDk61o6cYW1XuaH8XgLgKHM0CMIQafAKaTQc17qGM=,1,3290.0,0,0.0,NaN,2020-01-01 09:56:04,6,3290.0,0,3290.0,3290.0,609664493135
4,t014Au7WHWPPI0OeT5DX13SQ5q8qGekDqre2uZnHtcQpY8=,1,3590.0,1,500.0,282846-01,2020-01-01 10:36:50,6,3090.0,220404,3090.0,3090.0,589083659427
5,莲01LF6zIyY7EH3xuSvbfZo7ltnn6lnZ7cacExIx+8aylCY=,1,3990.0,0,400.0,226403-01,2020-01-01 10:42:48,501,3590.0,0,3590.0,3590.0,564779472639
6,粉01UbFDeKuioQohILQR+wOsNm7XJ0Oc9YsnYNWwOnr6RWo=,1,2990.0,0,0.0,337173-01,2020-01-01 11:57:13,6,2990.0,0,2990.0,2990.0,609198131898
7,t01IVpMxupm69b7U2+nsTMgJJq8qGekDqre2uZnHtcQpY8=,1,3990.0,0,0.0,332873-01,2020-01-01 12:38:02,501,3990.0,0,3990.0,3990.0,608739665918
8,j01p2WEcqpLB97pTrpXeOF3YGdHwSigfMMQPj0dkBAC8Vk=,1,12298.0,0,0.0,NaN,2020-01-01 13:21:40,101,12298.0,0,12298.0,12298.0,43696478043
9,橘01NRMB2FbMyTAioDgFAKlTAq3Y2wWCx2gxb9BRyrBfqBc=,1,2690.0,1,600.0,227605-01,2020-01-01 14:02:07,6,2090.0,220661,2090.0,2090.0,548452717637

### 简单分析

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2076756 entries, 0 to 2076755
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   platform_open_id  object
 1   goods_num         int64
 2   price             float64
 3   is_member         int64
 4   discount_fee      float64
 5   outer_id          object
 6   take_at           object
 7   status            int64
 8   payment           float64
 9   member_id         int64
 10  order_payment     float64
 11  total_fee         float64
 12  goods_id          int64
dtypes: float64(5), int64(5), object(3)
memory usage: 206.0+ MB

In [4]:
data.describe()

,goods_num,price,is_member,discount_fee,status,payment,member_id,order_payment,total_fee,goods_id
count,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06,2.076756e+06
mean,1.022414e+00,2.877742e+03,2.511152e-01,4.077908e+02,1.062725e+02,2.381522e+03,1.621424e+05,2.603311e+03,2.547768e+03,5.757775e+11
std,5.951059e+00,1.667641e+04,4.336548e-01,1.513768e+04,1.868467e+02,3.893904e+04,3.407376e+05,1.151160e+04,3.893686e+04,5.568156e+10
min,1.000000e+00,1.000000e-02,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.061134e+10
25%,1.000000e+00,1.890000e+03,0.000000e+00,0.000000e+00,6.000000e+00,4.500000e+02,0.000000e+00,1.890000e+03,1.890000e+03,5.484527e+11
50%,1.000000e+00,2.990000e+03,0.000000e+00,0.000000e+00,6.000000e+00,2.750000e+03,0.000000e+00,2.790000e+03,2.790000e+03,5.866680e+11
75%,1.000000e+00,3.490000e+03,1.000000e+00,3.000000e+02,1.010000e+02,2.990000e+03,1.609475e+04,3.090000e+03,3.090000e+03,6.087397e+11
max,8.028000e+03,9.999999e+06,1.000000e+00,9.999990e+05,5.010000e+02,5.000000e+07,1.261694e+06,1.000000e+07,5.000000e+07,6.497216e+11

In [5]:
data['payment'].mean()

2381.5220486739904

In [6]:
data['price'].mean()

2877.742445105782

### 选取行和列

In [7]:
data.head(5)

,platform_open_id,goods_num,price,is_member,discount_fee,outer_id,take_at,status,payment,member_id,order_payment,total_fee,goods_id
0,101ZX1xyfG/omvnxQPYI8YPFhoi2hfl26RoAPgzb9VqwG0=,1,3650.0,0,300.0,302945-01,2020-01-01 01:35:43,6,3350.0,0,3350.0,3350.0,520399672992
1,爱012Pr5yntLUcTKU0MtsjPGOs2DEMds1FAQI7fgfrP3PMg=,1,2690.0,0,600.0,227605-01,2020-01-01 08:55:17,6,2090.0,0,2090.0,2090.0,548452717637
2,朱01i4Rmip4x6V5VS/UZPBzc+Nnn6lnZ7cacExIx+8aylCY=,1,3990.0,1,400.0,226403-01,2020-01-01 09:48:35,6,3590.0,616297,3590.0,3590.0,564779472639
3,001bRbDk61o6cYW1XuaH8XgLgKHM0CMIQafAKaTQc17qGM=,1,3290.0,0,0.0,NaN,2020-01-01 09:56:04,6,3290.0,0,3290.0,3290.0,609664493135
4,t014Au7WHWPPI0OeT5DX13SQ5q8qGekDqre2uZnHtcQpY8=,1,3590.0,1,500.0,282846-01,2020-01-01 10:36:50,6,3090.0,220404,3090.0,3090.0,589083659427

In [8]:
data[['take_at','status']]

                     take_at  status
0        2020-01-01 01:35:43       6
1        2020-01-01 08:55:17       6
2        2020-01-01 09:48:35       6
3        2020-01-01 09:56:04       6
4        2020-01-01 10:36:50       6
...                      ...     ...
2076751  2021-06-29 20:44:34       4
2076752  2021-06-29 22:20:33     501
2076753  2021-06-30 14:12:08     501
2076754  2021-06-30 19:57:36       6
2076755  2021-06-30 22:25:49       4

[2076756 rows x 2 columns]

In [ ]:
status = data_last.groupby('status')['status'].count()
status

### 年月和日分析

In [9]:
date = data['take_at'].str.split(' ').str[0]
data['year-month-day']=date
data['year-month'] = date.str.split('-').str[0]+date.str.split('-').str[1]

In [ ]:
data_last = data[['status','payment','year-month-day','year-month']]
data_last=data_last[data_last['status']==6]
data_last.head()

In [25]:
data_day = data_last.groupby('year-month-day')
list(data_day)[0][1]

         status  payment year-month-day year-month
0             6   3350.0     2020-01-01     202001
1             6   2090.0     2020-01-01     202001
2             6   3590.0     2020-01-01     202001
3             6   3290.0     2020-01-01     202001
4             6   3090.0     2020-01-01     202001
...         ...      ...            ...        ...
2066624       6    800.0     2020-01-01     202001
2066625       6   3590.0     2020-01-01     202001
2066626       6   3090.0     2020-01-01     202001
2066627       6   3590.0     2020-01-01     202001
2066628       6   4290.0     2020-01-01     202001

[2583 rows x 4 columns]

In [ ]:
data_day = data_last.groupby('year-month-day')
# 每一天的GMV数据(status=6)
gmv_day= []
for i in range(len(list(data_day))):
    gmv_1=list(data_day)[i][1]['payment'].sum()
    gmv_day.append(gmv_1)
gmv_day

In [ ]:
data_month = data_last.groupby('year-month')
# 每一月的GMV数据(status=6)
gmv_month= []
for i in range(len(list(data_month))):
    gmv_2=list(data_month)[i][1]['payment'].sum()
    gmv.append(gmv_2)
gmv_month

In [46]:
from pyecharts.charts import Bar
from pyecharts import options as opts

payment_x = list(payment.index)
payment_y = list(payment)

def line_charts() -> Line:
    line = (
        Bar()
        .add_xaxis(payment_x)
        .add_yaxis(
            "商家A",
            payment_y,
            markline_opts=opts.MarkLineOpts(data=[opts.MarkLineItem(type_="average")]),
        )
#         .add_yaxis(
#             "商家B",
#             year_num2,
#             markline_opts=opts.MarkLineOpts(data=[opts.MarkLineItem(type_="average")]),
#         )
        .set_global_opts(title_opts=opts.TitleOpts(title="根据天的GMV分析")
                         ,yaxis_opts=opts.AxisOpts(name="时间")
                         ,xaxis_opts=opts.AxisOpts(name="GMV"),)
    )
    return line

line = line_charts()
line.render("根据天的GMV分析.html")

'E:\\py_\\out_work\\work\\根据天的GMV分析.html'

In [18]:
month = data.groupby('month')['month'].count()
month

month
01     8
02     6
03     6
04     7
05     7
06     4
07     9
08     7
09    11
10     8
11    11
12    14
Name: month, dtype: int64

In [20]:
from pyecharts.charts import Bar
# 构建数据
month_ = list(month.index)
month_num = list(month)

def bar_charts() -> Bar:
    bar = (
        Bar()
        .add_xaxis(month_)
#         .add_yaxis("商家A", month_num)
         .add_yaxis(
            "商家A",
            month_num,
            markline_opts=opts.MarkLineOpts(data=[opts.MarkLineItem(type_="average")]),
        )
        .set_global_opts(title_opts=opts.TitleOpts(title="标题")
                         ,yaxis_opts=opts.AxisOpts(name="我是 Y 轴")
                         ,xaxis_opts=opts.AxisOpts(name="我是 X 轴"),)
        .set_series_opts(
            label_opts=opts.LabelOpts(is_show=True), # 是否显示标签
        )
    )
    return bar
bar = bar_charts()
bar.render("根据月份分析.html")

'E:\\py_\\out_work\\crawler-analysis-master\\猫眼电影爬虫及分析\\根据月份分析.html'

### 地区

In [21]:
data.head(10)

,title,author,pub_time,star,style,long_time,year,month
0,霸王别姬,"张国荣,张丰毅,巩俐",1993-01-01,9.6,"爱情,剧情",171,1993,01
1,肖申克的救赎,"蒂姆·罗宾斯,摩根·弗里曼,鲍勃·冈顿",1994-10-14(美国),9.5,"犯罪,剧情",142,1994,10
2,罗马假日,"格利高里·派克,奥黛丽·赫本,埃迪·艾伯特",1953-09-02(美国),9.1,"喜剧,剧情,爱情",118,1953,09
3,这个杀手不太冷,"让·雷诺,加里·奥德曼,娜塔莉·波特曼",1994-09-14(法国),9.5,"剧情,惊悚,犯罪",110,1994,09
4,教父,"马龙·白兰度,阿尔·帕西诺,詹姆斯·肯恩",1972-03-24(美国),9.3,"犯罪,剧情,惊悚",175,1972,03
5,泰坦尼克号,"莱昂纳多·迪卡普里奥,凯特·温丝莱特,比利·赞恩",1998-04-03,9.5,"历史,爱情,灾难",194,1998,04
6,唐伯虎点秋香,"周星驰,巩俐,郑佩佩",1993-07-01(中国香港),9.2,"喜剧,爱情,古装",102,1993,07
7,千与千寻,"柊瑠美,入野自由,夏木真理",2001-07-20(日本),9.3,"动画,奇幻,冒险",125,2001,07
8,魂断蓝桥,"费雯·丽,罗伯特·泰勒,露塞尔·沃特森",1940-05-17(美国),9.2,"剧情,战争,爱情",108,1940,05
9,乱世佳人,"费雯·丽,克拉克·盖博,奥利维娅·德哈维兰",1939-12-15(美国),9.1,"剧情,爱情,战争",238,1939,12

In [22]:
def get_country(i):
    country = i.split('(')
    if len(country) == 1:
        return '中国'
    else:
        country_1 = country[1].strip(')')
        if country_1 == '中国香港':
            return '中国'
        elif country_1 == '法国戛纳':
            return '法国'
        else:
            return country_1

In [23]:
data['country'] = data['pub_time'].map(get_country)
data.head()

,title,author,pub_time,star,style,long_time,year,month,country
0,霸王别姬,"张国荣,张丰毅,巩俐",1993-01-01,9.6,"爱情,剧情",171,1993,01,中国
1,肖申克的救赎,"蒂姆·罗宾斯,摩根·弗里曼,鲍勃·冈顿",1994-10-14(美国),9.5,"犯罪,剧情",142,1994,10,美国
2,罗马假日,"格利高里·派克,奥黛丽·赫本,埃迪·艾伯特",1953-09-02(美国),9.1,"喜剧,剧情,爱情",118,1953,09,美国
3,这个杀手不太冷,"让·雷诺,加里·奥德曼,娜塔莉·波特曼",1994-09-14(法国),9.5,"剧情,惊悚,犯罪",110,1994,09,法国
4,教父,"马龙·白兰度,阿尔·帕西诺,詹姆斯·肯恩",1972-03-24(美国),9.3,"犯罪,剧情,惊悚",175,1972,03,美国

In [24]:
country = data.groupby('country')['country'].count()
country

country
中国     40
巴西      1
德国      1
意大利     4
日本      7
法国      7
美国     30
英国      3
韩国      7
Name: country, dtype: int64

In [25]:
from pyecharts.charts import Pie

attr3 = list(country.index)
v3 = list(country)

# 构建数据
# 为Pie设置指定格式
data_pie = [list(i) for i in zip(attr3,v3)]

# 定义一个pie的函数
def pie_charts() -> Pie:
    # 创建实例对象
    pie = Pie(init_opts=opts.InitOpts(width='1000px',height='600px'))
    # 添加数据
    pie.add(series_name="访问来源",data_pair=data_pie)
    # 设置全局项
    pie.set_global_opts(title_opts=opts.TitleOpts(title="课程不同的来源销售分析",pos_left='center',pos_top=20))
    #设置每项数据占比
    pie.set_series_opts(tooltip_opts=opts.TooltipOpts(trigger='item',formatter="{a} <br/> {b}:{c} ({d}%)"))

    return pie
pie = pie_charts()
pie.render("根据国家分析.html")

'E:\\py_\\out_work\\crawler-analysis-master\\猫眼电影爬虫及分析\\根据国家分析.html'

### 明星上榜

In [26]:
data.head()

,title,author,pub_time,star,style,long_time,year,month,country
0,霸王别姬,"张国荣,张丰毅,巩俐",1993-01-01,9.6,"爱情,剧情",171,1993,01,中国
1,肖申克的救赎,"蒂姆·罗宾斯,摩根·弗里曼,鲍勃·冈顿",1994-10-14(美国),9.5,"犯罪,剧情",142,1994,10,美国
2,罗马假日,"格利高里·派克,奥黛丽·赫本,埃迪·艾伯特",1953-09-02(美国),9.1,"喜剧,剧情,爱情",118,1953,09,美国
3,这个杀手不太冷,"让·雷诺,加里·奥德曼,娜塔莉·波特曼",1994-09-14(法国),9.5,"剧情,惊悚,犯罪",110,1994,09,法国
4,教父,"马龙·白兰度,阿尔·帕西诺,詹姆斯·肯恩",1972-03-24(美国),9.3,"犯罪,剧情,惊悚",175,1972,03,美国

In [27]:
str = ''
for i in range(100):
    str = str + data.iloc[i,1] + ','
str

'张国荣,张丰毅,巩俐,蒂姆·罗宾斯,摩根·弗里曼,鲍勃·冈顿,格利高里·派克,奥黛丽·赫本,埃迪·艾伯特,让·雷诺,加里·奥德曼,娜塔莉·波特曼,马龙·白兰度,阿尔·帕西诺,詹姆斯·肯恩,莱昂纳多·迪卡普里奥,凯特·温丝莱特,比利·赞恩,周星驰,巩俐,郑佩佩,柊瑠美,入野自由,夏木真理,费雯·丽,罗伯特·泰勒,露塞尔·沃特森,费雯·丽,克拉克·盖博,奥利维娅·德哈维兰,寺田农,鹫尾真知子,龟山助清,周星驰,莫文蔚,张柏芝,连姆·尼森,拉尔夫·费因斯,本·金斯利,邱岳峰,毕克,富润生,朱莉·安德鲁斯,克里斯托弗·普卢默,埃琳诺·帕克,约翰尼·德普,薇诺娜·瑞德,黛安·韦斯特,张国荣,梁朝伟,张震,罗伯托·贝尼尼,尼可莱塔·布拉斯基,乔治·坎塔里尼,蒂姆·罗斯,普路特·泰勒·文斯,比尔·努恩,基努·里维斯,凯瑞-安·莫斯,劳伦斯·菲什伯恩,约翰尼·德普,凯拉·奈特莉,奥兰多·布鲁姆,伊莱贾·伍德,伊恩·麦克莱恩,丽芙·泰勒,丹尼尔·雷德克里夫,鲁伯特·格林特,艾玛·沃特森,刘德华,梁朝伟,黄秋生,张国荣,梁朝伟,张学友,金·凯瑞,劳拉·琳妮,诺亚·艾默里奇,克里斯蒂安·贝尔,希斯·莱杰,阿伦·伊克哈特,阿尔·帕西诺,罗伯特·德尼罗,黛安·基顿,伊莱贾·伍德,伊恩·麦克莱恩,丽芙·泰勒,本·贝尔特,艾丽莎·奈特,杰夫·格尔林,菲利浦·诺瓦雷,赛尔乔·卡斯特利托,蒂兹亚娜·罗达托,葛优,巩俐,牛犇,汤姆·汉克斯,马特·达蒙,汤姆·塞兹摩尔,倍赏千惠子,木村拓哉,美轮明宏,萨姆·沃辛顿,佐伊·索尔达娜,米歇尔·罗德里格兹,莱昂纳多·迪卡普里奥,渡边谦,约瑟夫·高登-莱维特,Forest,理查·基尔,琼·艾伦,松田洋治,石田百合子,田中裕子,爱德华·哈里森·诺顿,布拉德·皮特,海伦娜·伯翰·卡特,张国荣,梁朝伟,刘嘉玲,岛本须美,永井一郎,坂本千夏,尼古拉斯·凯奇,艾玛·斯通,瑞安·雷诺兹,娜塔莉·波特曼,雨果·维文,斯蒂芬·瑞,亨利·方达,李·科布,马丁·鲍尔萨姆,热拉尔·朱尼奥,让-巴蒂斯特·莫尼耶,玛丽·布奈尔,阿米尔·汗,黄渤,卡琳娜·卡普,威尔·史密斯,贾登·史密斯,坦迪·牛顿,梅尔·吉布森,苏菲·玛索,帕特里克·麦高汉,基努·里维斯,雨果·维文,凯瑞-安·莫斯,范·迪塞尔,保罗·沃克,道恩·强森,杰伊·巴鲁切尔,杰拉德·巴特勒,亚美莉卡·费雷拉,苏拉·沙玛,伊尔凡·可汗,塔布,史蒂夫·卡瑞尔,杰森·席格尔,拉塞尔·布兰德,阿尔·帕西诺,克里斯·奥唐纳,加布里埃尔·安瓦尔,爱德华·阿斯纳,乔丹·长井,鲍勃·彼德森,周星驰,莫文蔚,吴孟达,杰克·尼科尔森,路易丝·弗莱彻,威尔·萨姆森,玛德琳·卡罗尔,卡兰·麦克奥利菲,艾丹·奎因,希斯·莱杰,杰克·吉伦哈尔,米歇尔·威廉姆斯,罗伯特·德尼罗,詹姆斯·伍兹,伊丽莎白·麦戈文,休·杰克曼,克里斯蒂安·贝尔,迈克尔·凯恩,姜文,姜宏波,陈强,约翰·C·赖利,萨拉·西尔弗曼,简·林奇,罗素·克洛,詹妮弗·康纳利,艾德·哈里斯,克里斯蒂安·贝尔,迈克尔·凯恩,加里·奥德曼,汤姆·克鲁斯,布拉德·皮特,克尔斯滕·邓斯特,张国荣,王祖贤,午马,丹尼尔·雷德克里夫,鲁伯特·格林特,艾玛·沃特森,布拉德·皮特,凯特·布兰切特,塔拉吉·P·汉森,艾德里安·布洛迪,艾米莉娅·福克斯,米哈乌·热布罗夫斯基,弗朗索瓦·克鲁塞,奥玛·希,安娜·勒尼,孔刘,郑有美,金智英,马里奥·毛瑞尔,平采娜·乐维瑟派布恩,阿查拉那·阿瑞亚卫考,周星驰,朱茵,莫文蔚,张曼玉,梁家辉,甄子丹,黎明,张曼玉,曾志伟,李来,薛耿求,严志媛,默罕默德·阿米尔·纳吉,Kamal Mirkarimi,Behzad Rafi,内山昂辉,佐仓绫音,后藤弘树,瑞秋·麦克亚当斯,多姆纳尔·格里森,比尔·奈伊,阿沙·巴特菲尔德,维拉·法梅加,大卫·休里斯,乌尔里希·穆埃,塞巴斯蒂安·科赫,马蒂娜·格德克,志田未来,神木隆之介,大竹忍,河正宇,李璟荣,李大为,柳承龙,郑镇荣,朴信惠,里克·奥巴瑞,路易·西霍尤斯,哈迪·琼斯,仲代达矢,春川真澄,井川比佐志,亚历桑德雷·罗德里格斯,艾莉丝·布拉加,莱安德鲁·菲尔米诺,宋康昊,郭度沅,吴达洙,三船敏郎,志村乔,千秋实,狄龙,张国荣,周润发,吴念真,金燕玲,李凯莉,凯文·科斯特纳,克林特·伊斯特伍德,T·J·劳瑟,雅克·贝汉,姜文,兰斯洛特·佩林,俞承豪,金艺芬,童孝熙,克林特·伊斯特伍德,李·范·克里夫,埃里·瓦拉赫,宋在浩,李顺才,尹秀晶,雅克·贝汉,Philippe Labro,张国荣,张曼玉,刘德华,秦岚,糸井重里,岛本须美,'

In [28]:
author = str.split(',')
author

['张国荣',
 '张丰毅',
 '巩俐',
 '蒂姆·罗宾斯',
 '摩根·弗里曼',
 '鲍勃·冈顿',
 '格利高里·派克',
 '奥黛丽·赫本',
 '埃迪·艾伯特',
 '让·雷诺',
 '加里·奥德曼',
 '娜塔莉·波特曼',
 '马龙·白兰度',
 '阿尔·帕西诺',
 '詹姆斯·肯恩',
 '莱昂纳多·迪卡普里奥',
 '凯特·温丝莱特',
 '比利·赞恩',
 '周星驰',
 '巩俐',
 '郑佩佩',
 '柊瑠美',
 '入野自由',
 '夏木真理',
 '费雯·丽',
 '罗伯特·泰勒',
 '露塞尔·沃特森',
 '费雯·丽',
 '克拉克·盖博',
 '奥利维娅·德哈维兰',
 '寺田农',
 '鹫尾真知子',
 '龟山助清',
 '周星驰',
 '莫文蔚',
 '张柏芝',
 '连姆·尼森',
 '拉尔夫·费因斯',
 '本·金斯利',
 '邱岳峰',
 '毕克',
 '富润生',
 '朱莉·安德鲁斯',
 '克里斯托弗·普卢默',
 '埃琳诺·帕克',
 '约翰尼·德普',
 '薇诺娜·瑞德',
 '黛安·韦斯特',
 '张国荣',
 '梁朝伟',
 '张震',
 '罗伯托·贝尼尼',
 '尼可莱塔·布拉斯基',
 '乔治·坎塔里尼',
 '蒂姆·罗斯',
 '普路特·泰勒·文斯',
 '比尔·努恩',
 '基努·里维斯',
 '凯瑞-安·莫斯',
 '劳伦斯·菲什伯恩',
 '约翰尼·德普',
 '凯拉·奈特莉',
 '奥兰多·布鲁姆',
 '伊莱贾·伍德',
 '伊恩·麦克莱恩',
 '丽芙·泰勒',
 '丹尼尔·雷德克里夫',
 '鲁伯特·格林特',
 '艾玛·沃特森',
 '刘德华',
 '梁朝伟',
 '黄秋生',
 '张国荣',
 '梁朝伟',
 '张学友',
 '金·凯瑞',
 '劳拉·琳妮',
 '诺亚·艾默里奇',
 '克里斯蒂安·贝尔',
 '希斯·莱杰',
 '阿伦·伊克哈特',
 '阿尔·帕西诺',
 '罗伯特·德尼罗',
 '黛安·基顿',
 '伊莱贾·伍德',
 '伊恩·麦克莱恩',
 '丽芙·泰勒',
 '本·贝尔特',
 '艾丽莎·奈特',
 '杰夫·格尔林',
 '菲利浦·诺瓦雷',
 '赛尔乔·卡斯特利托',
 '蒂兹亚娜·罗达托',
 '葛优',
 '巩俐',
 '牛犇',
 '汤姆·汉克斯',
 '马特·达蒙',
 '汤姆·塞兹摩尔',
 '倍赏千惠子',
 '木村拓哉',
 '美轮明宏',
 '萨姆·沃辛顿',
 '佐伊·索尔达娜',
 '米歇尔·罗德里格兹',
 '莱昂纳多·迪卡普里奥',
 '渡边谦',
 '约瑟夫·高登-莱维特',
 'Forest',
 '理查·基尔',
 '琼·艾伦',
 '松田洋治',
 '石田百合子',
 '田中裕子',
 '爱德华·哈里森·诺顿',
 '布拉德·皮特',
 '海伦娜·伯翰·卡特',
 '张国荣',
 '梁朝伟',
 '刘嘉玲',
 '岛本须美',
 '永井一郎',
 '坂本千夏',
 '尼古拉斯·凯奇',
 '艾玛·斯通',
 '瑞安·雷诺兹',
 '娜塔莉·波特曼',
 '雨果·维文',
 '斯蒂芬·瑞',
 '亨利·方达',
 '李·科布',
 '马丁·鲍尔萨姆',
 '热拉尔·朱尼奥',
 '让-巴蒂斯特·莫尼耶',
 '玛丽·布奈尔',
 '阿米尔·汗',
 '黄渤',
 '卡琳娜·卡普',
 '威尔·史密斯',
 '贾登·史密斯',
 '坦迪·牛顿',
 '梅尔·吉布森',
 '苏菲·玛索',
 '帕特里克·麦高汉',
 '基努·里维斯',
 '雨果·维文',
 '凯瑞-安·莫斯',
 '范·迪塞尔',
 '保罗·沃克',
 '道恩·强森',
 '杰伊·巴鲁切尔',
 '杰拉德·巴特勒',
 '亚美莉卡·费雷拉',
 '苏拉·沙玛',
 '伊尔凡·可汗',
 '塔布',
 '史蒂夫·卡瑞尔',
 '杰森·席格尔',
 '拉塞尔·布兰德',
 '阿尔·帕西诺',
 '克里斯·奥唐纳',
 '加布里埃尔·安瓦尔',
 '爱德华·阿斯纳',
 '乔丹·长井',
 '鲍勃·彼德森',
 '周星驰',
 '莫文蔚',
 '吴孟达',
 '杰克·尼科尔森',
 '路易丝·弗莱彻',
 '威尔·萨姆森',
 '玛德琳·卡罗尔',
 '卡兰·麦克奥利菲',
 '艾丹·奎因',
 '希斯·莱杰',
 '杰克·吉伦哈尔',
 '米歇尔·威廉姆斯',
 '罗伯特·德尼罗',
 '詹姆斯·伍兹',
 '伊丽莎白·麦戈文',
 '休·杰克曼',
 '克里斯蒂安·贝尔',
 '迈克尔·凯恩',
 '姜文',
 '姜宏波',
 '陈强',
 '约翰·C·赖利',
 '萨拉·西尔弗曼',
 '简·林奇',
 '罗素·克洛',
 '詹妮弗·康纳利',
 '艾德·哈里斯',
 '克里斯蒂安·贝尔',
 '迈克尔·凯恩',
 '加里·奥德曼',
 '汤姆·克鲁斯',
 '布拉德·皮特',
 '克尔斯滕·邓斯特',
 '张国荣',
 '王祖贤',
 '午马',
 '丹尼尔·雷德克里夫',
 '鲁伯特·格林特',
 '艾玛·沃特森',
 '布拉德·皮特',
 '凯特·布兰切特',
 '塔拉吉·P·汉森',
 '艾德里安·布洛迪',
 '艾米莉娅·福克斯',
 '米哈乌·热布罗夫斯基',
 '弗朗索瓦·克鲁塞',
 '奥玛·希',
 '安娜·勒尼',
 '孔刘',
 '郑有美',
 '金智英',
 '马里奥·毛瑞尔',
 '平采娜·乐维瑟派布恩',
 '阿查拉那·阿瑞亚卫考',
 '周星驰',
 '朱茵',
 '莫文蔚',
 '张曼玉',
 '梁家辉',
 '甄子丹',
 '黎明',
 '张曼玉',
 '曾志伟',
 '李来',
 '薛耿求',
 '严志媛',
 '默罕默德·阿米尔·纳吉',
 'Kamal Mirkarimi',
 'Behzad Rafi',
 '内山昂辉',
 '佐仓绫音',
 '后藤弘树',
 '瑞秋·麦克亚当斯',
 '多姆纳尔·格里森',
 '比尔·奈伊',
 '阿沙·巴特菲尔德',
 '维拉·法梅加',
 '大卫·休里斯',
 '乌尔里希·穆埃',
 '塞巴斯蒂安·科赫',
 '马蒂娜·格德克',
 '志田未来',
 '神木隆之介',
 '大竹忍',
 '河正宇',
 '李璟荣',
 '李大为',
 '柳承龙',
 '郑镇荣',
 '朴信惠',
 '里克·奥巴瑞',
 '路易·西霍尤斯',
 '哈迪·琼斯',
 '仲代达矢',
 '春川真澄',
 '井川比佐志',
 '亚历桑德雷·罗德里格斯',
 '艾莉丝·布拉加',
 '莱安德鲁·菲尔米诺',
 '宋康昊',
 '郭度沅',
 '吴达洙',
 '三船敏郎',
 '志村乔',
 '千秋实',
 '狄龙',
 '张国荣',
 '周润发',
 '吴念真',
 '金燕玲',
 '李凯莉',
 '凯文·科斯特纳',
 '克林特·伊斯特伍德',
 'T·J·劳瑟',
 '雅克·贝汉',
 '姜文',
 '兰斯洛特·佩林',
 '俞承豪',
 '金艺芬',
 '童孝熙',
 '克林特·伊斯特伍德',
 '李·范·克里夫',
 '埃里·瓦拉赫',
 '宋在浩',
 '李顺才',
 '尹秀晶',
 '雅克·贝汉',
 'Philippe Labro',
 '张国荣',
 '张曼玉',
 '刘德华',
 '秦岚',
 '糸井重里',
 '岛本须美',
 '']

In [29]:
from collections import Counter
c = Counter(author)
c

Counter({'张国荣': 7,
         '张丰毅': 1,
         '巩俐': 3,
         '蒂姆·罗宾斯': 1,
         '摩根·弗里曼': 1,
         '鲍勃·冈顿': 1,
         '格利高里·派克': 1,
         '奥黛丽·赫本': 1,
         '埃迪·艾伯特': 1,
         '让·雷诺': 1,
         '加里·奥德曼': 2,
         '娜塔莉·波特曼': 2,
         '马龙·白兰度': 1,
         '阿尔·帕西诺': 3,
         '詹姆斯·肯恩': 1,
         '莱昂纳多·迪卡普里奥': 2,
         '凯特·温丝莱特': 1,
         '比利·赞恩': 1,
         '周星驰': 4,
         '郑佩佩': 1,
         '柊瑠美': 1,
         '入野自由': 1,
         '夏木真理': 1,
         '费雯·丽': 2,
         '罗伯特·泰勒': 1,
         '露塞尔·沃特森': 1,
         '克拉克·盖博': 1,
         '奥利维娅·德哈维兰': 1,
         '寺田农': 1,
         '鹫尾真知子': 1,
         '龟山助清': 1,
         '莫文蔚': 3,
         '张柏芝': 1,
         '连姆·尼森': 1,
         '拉尔夫·费因斯': 1,
         '本·金斯利': 1,
         '邱岳峰': 1,
         '毕克': 1,
         '富润生': 1,
         '朱莉·安德鲁斯': 1,
         '克里斯托弗·普卢默': 1,
         '埃琳诺·帕克': 1,
         '约翰尼·德普': 2,
         '薇诺娜·瑞德': 1,
         '黛安·韦斯特': 1,
         '梁朝伟': 4,
         '张震': 1,
         '罗伯托·贝尼尼': 1,
         '尼可莱塔·布拉斯基': 1,
         '乔治·坎塔里尼': 1,
         '蒂姆·罗斯': 1,
         '普路特·泰勒·文斯': 1,
         '比尔·努恩': 1,
         '基努·里维斯': 2,
         '凯瑞-安·莫斯': 2,
         '劳伦斯·菲什伯恩': 1,
         '凯拉·奈特莉': 1,
         '奥兰多·布鲁姆': 1,
         '伊莱贾·伍德': 2,
         '伊恩·麦克莱恩': 2,
         '丽芙·泰勒': 2,
         '丹尼尔·雷德克里夫': 2,
         '鲁伯特·格林特': 2,
         '艾玛·沃特森': 2,
         '刘德华': 2,
         '黄秋生': 1,
         '张学友': 1,
         '金·凯瑞': 1,
         '劳拉·琳妮': 1,
         '诺亚·艾默里奇': 1,
         '克里斯蒂安·贝尔': 3,
         '希斯·莱杰': 2,
         '阿伦·伊克哈特': 1,
         '罗伯特·德尼罗': 2,
         '黛安·基顿': 1,
         '本·贝尔特': 1,
         '艾丽莎·奈特': 1,
         '杰夫·格尔林': 1,
         '菲利浦·诺瓦雷': 1,
         '赛尔乔·卡斯特利托': 1,
         '蒂兹亚娜·罗达托': 1,
         '葛优': 1,
         '牛犇': 1,
         '汤姆·汉克斯': 1,
         '马特·达蒙': 1,
         '汤姆·塞兹摩尔': 1,
         '倍赏千惠子': 1,
         '木村拓哉': 1,
         '美轮明宏': 1,
         '萨姆·沃辛顿': 1,
         '佐伊·索尔达娜': 1,
         '米歇尔·罗德里格兹': 1,
         '渡边谦': 1,
         '约瑟夫·高登-莱维特': 1,
         'Forest': 1,
         '理查·基尔': 1,
         '琼·艾伦': 1,
         '松田洋治': 1,
         '石田百合子': 1,
         '田中裕子': 1,
         '爱德华·哈里森·诺顿': 1,
         '布拉德·皮特': 3,
         '海伦娜·伯翰·卡特': 1,
         '刘嘉玲': 1,
         '岛本须美': 2,
         '永井一郎': 1,
         '坂本千夏': 1,
         '尼古拉斯·凯奇': 1,
         '艾玛·斯通': 1,
         '瑞安·雷诺兹': 1,
         '雨果·维文': 2,
         '斯蒂芬·瑞': 1,
         '亨利·方达': 1,
         '李·科布': 1,
         '马丁·鲍尔萨姆': 1,
         '热拉尔·朱尼奥': 1,
         '让-巴蒂斯特·莫尼耶': 1,
         '玛丽·布奈尔': 1,
         '阿米尔·汗': 1,
         '黄渤': 1,
         '卡琳娜·卡普': 1,
         '威尔·史密斯': 1,
         '贾登·史密斯': 1,
         '坦迪·牛顿': 1,
         '梅尔·吉布森': 1,
         '苏菲·玛索': 1,
         '帕特里克·麦高汉': 1,
         '范·迪塞尔': 1,
         '保罗·沃克': 1,
         '道恩·强森': 1,
         '杰伊·巴鲁切尔': 1,
         '杰拉德·巴特勒': 1,
         '亚美莉卡·费雷拉': 1,
         '苏拉·沙玛': 1,
         '伊尔凡·可汗': 1,
         '塔布': 1,
         '史蒂夫·卡瑞尔': 1,
         '杰森·席格尔': 1,
         '拉塞尔·布兰德': 1,
         '克里斯·奥唐纳': 1,
         '加布里埃尔·安瓦尔': 1,
         '爱德华·阿斯纳': 1,
         '乔丹·长井': 1,
         '鲍勃·彼德森': 1,
         '吴孟达': 1,
         '杰克·尼科尔森': 1,
         '路易丝·弗莱彻': 1,
         '威尔·萨姆森': 1,
         '玛德琳·卡罗尔': 1,
         '卡兰·麦克奥利菲': 1,
         '艾丹·奎因': 1,
         '杰克·吉伦哈尔': 1,
         '米歇尔·威廉姆斯': 1,
         '詹姆斯·伍兹': 1,
         '伊丽莎白·麦戈文': 1,
         '休·杰克曼': 1,
         '迈克尔·凯恩': 2,
         '姜文': 2,
         '姜宏波': 1,
         '陈强': 1,
         '约翰·C·赖利': 1,
         '萨拉·西尔弗曼': 1,
         '简·林奇': 1,
         '罗素·克洛': 1,
         '詹妮弗·康纳利': 1,
         '艾德·哈里斯': 1,
         '汤姆·克鲁斯': 1,
         '克尔斯滕·邓斯特': 1,
         '王祖贤': 1,
         '午马': 1,
         '凯特·布兰切特': 1,
         '塔拉吉·P·汉森': 1,
         '艾德里安·布洛迪': 1,
         '艾米莉娅·福克斯': 1,
         '米哈乌·热布罗夫斯基': 1,
         '弗朗索瓦·克鲁塞': 1,
         '奥玛·希': 1,
         '安娜·勒尼': 1,
         '孔刘': 1,
         '郑有美': 1,
         '金智英': 1,
         '马里奥·毛瑞尔': 1,
         '平采娜·乐维瑟派布恩': 1,
         '阿查拉那·阿瑞亚卫考': 1,
         '朱茵': 1,
         '张曼玉': 3,
         '梁家辉': 1,
         '甄子丹': 1,
         '黎明': 1,
         '曾志伟': 1,
         '李来': 1,
         '薛耿求': 1,
         '严志媛': 1,
         '默罕默德·阿米尔·纳吉': 1,
         'Kamal Mirkarimi': 1,
         'Behzad Rafi': 1,
         '内山昂辉': 1,
         '佐仓绫音': 1,
         '后藤弘树': 1,
         '瑞秋·麦克亚当斯': 1,
         '多姆纳尔·格里森': 1,
         '比尔·奈伊': 1,
         '阿沙·巴特菲尔德': 1,
         '维拉·法梅加': 1,
         '大卫·休里斯': 1,
         '乌尔里希·穆埃': 1,
         '塞巴斯蒂安·科赫': 1,
         '马蒂娜·格德克': 1,
         '志田未来': 1,
         '神木隆之介': 1,
         '大竹忍': 1,
         '河正宇': 1,
         '李璟荣': 1,
         '李大为': 1,
         '柳承龙': 1,
         '郑镇荣': 1,
         '朴信惠': 1,
         '里克·奥巴瑞': 1,
         '路易·西霍尤斯': 1,
         '哈迪·琼斯': 1,
         '仲代达矢': 1,
         '春川真澄': 1,
         '井川比佐志': 1,
         '亚历桑德雷·罗德里格斯': 1,
         '艾莉丝·布拉加': 1,
         '莱安德鲁·菲尔米诺': 1,
         '宋康昊': 1,
         '郭度沅': 1,
         '吴达洙': 1,
         '三船敏郎': 1,
         '志村乔': 1,
         '千秋实': 1,
         '狄龙': 1,
         '周润发': 1,
         '吴念真': 1,
         '金燕玲': 1,
         '李凯莉': 1,
         '凯文·科斯特纳': 1,
         '克林特·伊斯特伍德': 2,
         'T·J·劳瑟': 1,
         '雅克·贝汉': 2,
         '兰斯洛特·佩林': 1,
         '俞承豪': 1,
         '金艺芬': 1,
         '童孝熙': 1,
         '李·范·克里夫': 1,
         '埃里·瓦拉赫': 1,
         '宋在浩': 1,
         '李顺才': 1,
         '尹秀晶': 1,
         'Philippe Labro': 1,
         '秦岚': 1,
         '糸井重里': 1,
         '': 1})

In [30]:
count = c.most_common(6)
count

[('张国荣', 7), ('周星驰', 4), ('梁朝伟', 4), ('巩俐', 3), ('阿尔·帕西诺', 3), ('莫文蔚', 3)]

In [31]:
# 构建根据名字分析的数据
name = []
name_num = []
for i in count:
    name.append(i[0])
    name_num.append(i[1])

In [32]:
from pyecharts.charts import Bar

def bar_charts() -> Bar:
    bar = (
        Bar()
        .add_xaxis(name)
        # 单独不要对数据进行操作
#         .add_yaxis("商家A", month_num)
         .add_yaxis(
            "商家A",
            name_num,
            markline_opts=opts.MarkLineOpts(data=[opts.MarkLineItem(type_="average")]),
        )
        .set_global_opts(title_opts=opts.TitleOpts(title="标题")
                         ,yaxis_opts=opts.AxisOpts(name="我是 Y 轴")
                         ,xaxis_opts=opts.AxisOpts(name="我是 X 轴"),)
        .set_series_opts(
            label_opts=opts.LabelOpts(is_show=True), # 是否显示标签
        )
    )
    return bar
bar = bar_charts()
bar.render("根据演员名字分析.html")

'E:\\py_\\out_work\\crawler-analysis-master\\猫眼电影爬虫及分析\\根据演员名字分析.html'